img{
    height: 150px;
    width: 150px;
}
.container{
    padding: 5px;
    margin: auto;
    text-align: center;
}
h3{
    color: plum;
    text-align: center;
}
#filterP{
    width: 98%;
    margin: 10px;
    padding: 5px;
    border: 3px solid skyblue;
}