<div class="container">
    <input type="text" (keypress)="filterData(c)" [(ngModel)]="c" class="filterP" id="filterP" name="filterP" placeholder="enter filter key"><br>
    <h3>filter as per category {{c}}</h3><br>
    <table *ngIf="products.length;else elseBlock" class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Sno</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Rating</th>
            <th scope="col">Quantity</th>
            <th scope="col"><button class="btn btn-primary" (click)="disp()">{{dispImg ? 'Hide' : 'Show'}} Image</button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of filteredList;let i=index">
            <td>{{i+1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.category}}</td>
            <td><app-star [title]="p.rating" [rating]="p.rating" (ratingClicked)="onRatingClicked($event)"></app-star></td>
            <td><button class="btn btn-success" (click)="addItem(p)">add to cart</button></td>
            <td><img src="{{p.image}}" alt="no image" *ngIf="dispImg"></td>
        </tr>
        </tbody>
    </table>
    <ng-template #elseBlock><h4>no products</h4></ng-template>
    <h3>{{mssg}}</h3>
</div>