table{
    width: 90%;
    margin: auto;
    background-color: rgb(212, 241, 250);
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
table img{
    height: 100px;
    width: 200px;
} 