@for $var from 1 through 4{
    .p#{$var}{
        padding: $var * 10px;
        color: green;
        border: 1px solid black;
        height: 50px * $var;
        width: 100px * $var;
        opacity: 0.2*$var;
        box-shadow: 4px 3px*$var pink inset;
        background-color: darken(black, 20% * $var);
    }
}
h1{
    background-color: mix(red, blue, 40%);
}