.div{
  h1{
    color: yellow;
    background-color: blue;
  }
  .div2{
    h3{
      color: green;
      background-color: black;
      font-size: 3rem;
      font-weight: bold;
    }
  }
}