.error{
    color: red;
}
.container{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: powderblue;
}
#loginForm{
    padding: 10px;
    margin: 15px;
}
#username{
    width: 50%;
}
#password{
    width: 50%;
}
label{
    width: 50%;
}
button{
    width: 25%;
    padding: 5px;
    margin: 5px;
}