<!--<h1>hello sanj</h1>
<div id="main">
    <app-penthouse class="flex-item"></app-penthouse>
    <app-welcome class="flex-item"></app-welcome>
</div>-->
<!--<flatList></flatList>
<animalList></animalList>
<app-a></app-a>
<app-c></app-c>
<productList></productList>
<app-cart></app-cart>
<app-pipes></app-pipes>-->
<!--<div class="row">
    <div [ngClass]="cssStyle">another div
        <h2 [ngStyle]="{'font-size':'50px','color':'pink'}">hi sanj</h2>
    </div>
</div>-->
<!--<app-products></app-products>
<app-eventsList></app-eventsList>
<app-navbar></app-navbar>
<templateForms></templateForms>
<templateForms1></templateForms1>
<reactiveForms></reactiveForms>
<app-books></app-books>
<empForm></empForm>
<homepage></homepage>
<app-about-us></app-about-us>
<app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail>
<app-flowers></app-flowers>
<app-flower-detail></app-flower-detail>
<app-login></app-login>->inside user-->
<!--<router-outlet></router-outlet>
<app-login></app-login>
<app-shell-comp></app-shell-comp>-->