/*h1{
    background-color: aqua;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
#main{
    display: flex;
    align-items: center;
}
.flex-item
{
    height:100px;
    margin:10px;
    padding :10px;
    width: 50%;
}*/
/*.greenborder{
    border: 3px dotted green;
}
.size30{
    font-size: 30px;
}*/