<!--<h1>hello sanjna!</h1>
<pent-house></pent-house>
<welcome-component></welcome-component>
<animal-list></animal-list>
<app-products></app-products>
<flat-list></flat-list>-->
<!--<html>
<head>
  <title>Document</title>
</head>
<body>
<app-a></app-a>
<app-c></app-c>
<app-products> </app-products>
</body>
</html>-->
<!--<app-products></app-products>
<app-cart></app-cart>
<app-template-forms></app-template-forms>
<templateForm1></templateForm1>
<app-reactive-forms></app-reactive-forms>
<empForm></empForm>
<student-form></student-form>
<app-pipes></app-pipes>
<homePage></homePage>-->
<app-login-comp></app-login-comp>