<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['books']">books<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['flats']">flats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['animals']">animals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['penthouse']">penthouse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['product list']">products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['employee']">emp</a>
        </li><li class="nav-item">
          <a class="nav-link" [routerLink]="['student']">stud</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['template Form']">template Form</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['reactive Form']">reactive Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['a']">a</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['b']">b</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['c']">c</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pipes']">pipes</a>
    </li>
        </ul>
      </div></nav>