<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Homepage</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['emps']">emp</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['about us']">about us<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['flowers']">flowers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['books']">books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products']">products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['flat list']">flat list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['animal list']">animal list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['penthouse']">penthouse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cart']">cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['product list']">product list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['navbar']">navbar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['employee']">employee</a>
        </li><li class="nav-item">
          <a class="nav-link" [routerLink]="['student']">student</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['template forms']">template Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['template forms 1']">template Forms 1</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['a']">a</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['c']">c</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pipes']">pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['welcome']">welcome</a>
    </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['**']">temp</a>
        </li>
  </ul>
      </div></nav>