<div class="card">
<div class="card-header">
    Animal List
</div>

<div class="card-body">
<div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col"><button class="btn btn-primary" (click)="imageVisibility()">hide/show image</button></th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let a of arr;let i = index">
              <td>{{i+1}}</td>
              <td>{{a.name}}</td>
              <!--<td><img src='{{a.imageUrl}}'/></td>-->
              <td>
                <img *ngIf="showImage" src='{{a.imageUrl}}' [style.margin.px]="imageMargin"
                  [style.width.px]="imageWidth" [style.height.px]="imageHeight"/>
                </td>
            </tr>
          </tbody>
        </table>
</div>
</div>
</div>