<html>
    <head>
        <title>Information</title>
    </head>
    <body>
        <h1>Welcome!!</h1>
        <h3>this is angular training</h3>
        <p class="info">student or employee,everyone needs training,so here we have all types of angular components. we hope 
            you learn loads frmm here. if u face any issue please reach out to us on given contact information.</p>
        <h5>contact info:</h5>
        <div id="container">
            <p>7845120963</p>
            <p>qwertyuiop@asdfghjkl.zxcvbnm</p>
        </div>
        <p style="margin: 5px;padding: 5px;text-align: center;font-size: 5rem;color: plum;">Thankyou for visiting us!!</p>
        <img src="../../assets/hrt.jpg">
    </body>
</html>