h1{
    color: violet;
    font-size: 5rem;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
h3{
    color: pink;
    font-size: 3.5rem;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
h5{
    color: skyblue;
    font-size: 2rem;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
.info{
    color: aqua;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
#container{
    color: aquamarine;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
body{
    background-color: black;
}
img{
    height: 350px;
    width: 350px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}