<div class="card"><div class="card-header">
    {{pageTitle}}
</div>

<div class="card-body">
<form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

<div class="form-group">
    <p>
    <label for="userName">User Name</label>
    <input type="text" name="userName" id="userName"
    #userName ngModel
    class="form-control"
    required
    >


    </p>

<p>
    <label for="password">password</label>
    <input type="text" name="password" id="password"
    #password ngModel
    class="form-control"
    required
    >


    </p>
    <a class="btn btn-light" (click)="cancel()">Cancel Navigation</a>

    <button [disabled]="!loginForm.valid">Log In</button>
</div>

</form>


</div>



</div>