<div class="card">
    <div class="card-header">
        Flat List
    </div>
    
    <div class="card-body">
    
      <input type="text"  #numR [(ngModel)]="numRooms"/>
    
      <h1>Filtered as per number of rooms {{numRooms}}</h1>
    
    <div class="table-responsive">
        <table *ngIf="flats.length"   class="table table-dark ">
    
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Area</th>
                  <th scope="col">NUmberof rooms</th>
                  <th scope="col"># balconies</th>
                  <th scope="col">Rent</th>
                  <th scope="col"><button
                    class="btn btn-primary"
                    (click)="imageVisibility()">{{showImage ? 'Hide' : 'Show'}} Image</button></th>
    
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let flat of filteredFlats;let i = index">
                  <td>{{i+1}}</td>
                    <td>
                     {{flat.areaInSqFt}}
                    </td>
                    <td>{{flat.numberOfRooms}}</td>
    
                    <td>{{flat.numberOfBalconies}}</td>
                    <td>{{flat.monthlyRent}}</td>
                    <td><img *ngIf="showImage"
                      [src]='flat.imageUrl'
                      [title]="flat.numberOfRooms"
                      [style.margin.px]="imageMargin"
                      [style.width.px]="imageWidth"
                      [style.height.px]="imageHeight"
                      /></td>
                  </tr>
              </tbody>
            </table>
    
    </div>
    
    
    </div>
    
    
    </div>