<h1>cart items</h1>  
<table *ngIf="cartList.length" class="table table-light">
    <thead>
        <tr>
            <th scope="col">Sno</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">rating</th>
            <th scope="col">image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cartList;let i=index">
            <td>{{i+1}}</td>
            <td>{{c.name}}</td>
            <td>{{c.price}}</td>
            <td>{{c.category}</td>
            <td>{{c.rating}</td>
            <td><img src="{{c.image}}" alt="no image"></td>
        </tr>
    </tbody>
</table>